<!DOCTYPE html> 
<html>
   <head>
      <title>Pixel Coordinates</title>
      <link rel="stylesheet" href="../static/css/style.css">
      <script src="../static/js/script.js" type="text/javascript"></script>
   </head>
   <body>
      <form method="POST" enctype ="multipart/form-data">
         <div class="dragzone">
            <input type="file" class="file-selector" name="file" id="files" ondragover="drag()" ondrop="drop()" onchange="uploadFile()">            
            <input type="submit" id="upload" >
            <h1>Drag & Drop to Upload File</h1>
            <h1>OR</h1>
            <span class="dragBox">
               Select File
            </span>   
         </div>
      </form>
   </body>
</html>